extends layout

block content
  .container-fluid
    -if(messages)
      p #{messages.errors}
      p #{Object.keys(messages)}
    .jumbotron
      img.img-responsive(style="float:left" width=150, height=150, src='logo-owl.png')
      br
      h1 &nbsp;Welcome to AberOWL
        br
        br
        p(style="clear:both")
          | Hosting #{stats.oCount} ontologies, with #{stats.cCount} classes and #{stats.aCount} axioms. 
        p
        a.btn.btn-lg.btn-primary(href='ontology', role='button') Browse Ontologies &raquo;
        a.btn.btn-lg.btn-warning(style='margin-left:10px', href='ontology/upload', role='button') 
          span Upload New Ontology&nbsp;
          span.glyphicon.glyphicon-upload(aria-hidden='true') 
