extends layout

block content
  .container-fluid
    .row
      .col-sm-3.col-md-2.sidebar
        ul.nav.nav-sidebar
          li
            a(href='/ontology/#{ontology.id}') Overview
          li
            a(href='/ontology/#{ontology.id}/query') Query
          li
            a(href='#') Browse
          li
            a(href='#') Visualise
          li
            a(href='/ontology/#{ontology.id}/downloads') Download
          -if(user && (user.admin || (user.owns && user.owns.contains(ontology.id))))
            li.active
              a(href='/ontology/#{ontology.id}/manage') Manage
     .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
        h1.page-header #{ontology.id} - #{ontology.name}
        h4.sub-header #{ontology.description}
        h2.sub-header Manage
        -if(messages.info) 
          div.alert.alert-success(role='alert')
            span.glyphicon.glyphicon-ok(aria-hidden='true')
            span &nbsp; Info: #{messages.info}
        form.form(action='/ontology/#{ontology.id}/update', method='post', role='form')
          h5 Name
          input.form-control(name='name', type='name', value='#{ontology.name}', required='', autofocus='')
          br
          h5 Description
          textarea.form-control(name='description', type='description', required='', autofocus='') #{ontology.description}
          br
          button.btn.btn-success(type='submit') Save

        h3.sub-header Updates
          h5 Currently automatically updating from: 
            -if(ontology.source == 'bioportal')
              div#osource.label.label-success(href='#', data-placement='bottom', data-original-title='wat', data-content='test', rel='popover', data-trigger='hover') #{ontology.source}
              &nbsp;
            a(href='#', onclick='openSourceForm()') change...
            div#sourceForm
        a.btn.btn-sm.btn-warning(style='margin-left:10px', href='ontology/upload', role='button') 
          span Manually Upload New Version&nbsp;
          span.glyphicon.glyphicon-upload(aria-hidden='true') 

        h3.sub-header Final and Irreversible Measure of Insurmountable and Unforgiveable Sadness
        a.btn.btn-danger Delete Ontology
    div#ontology_value(style='display:none') #{ontology.id}
