extends layout

block content
  .container-fluid
    .row
      .col-sm-3.col-md-2.sidebar
        ul.nav.nav-sidebar
          li
            a(href='/ontology/') 
              span.glyphicon.glyphicon-menu-left(aria-hidden='true') 
              span Back to Browse
          li.divider(role='presentation', style="background-color:#aaa;display:block;height:5px;")
          li.active
            a(href='#') Overview
          li
            a(href='/ontology/#{ontology.id}/query') Query
          li
            a(href='#') Browse
          li
            a(href='/ontology/#{ontology.id}/downloads') Download
          -if(user && (user.admin || (user.owns && user.owns.contains(ontology.id))))
            li
              a(href='/ontology/#{ontology.id}/manage') Manage
     .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
        h1.page-header #{ontology.id} - #{ontology.name}
        -if(messages.info) 
          div.alert.alert-success(role='alert')
            span.glyphicon.glyphicon-ok(aria-hidden='true')
            span &nbsp; Info: #{messages.info}
        -if(!stats.loaded) 
          -if(ontology.status == 'untested')
            span.label.label-info Loading
          -else
            span.label.label-warning Unloadable
        -else if(!stats.consistent)
          span.label.label-danger Inconsistent
        -else
          span.label.label-success Classified
        h4.sub-header #{ontology.description}
        -if(user)
          h5 Do you own this ontology? Email own@aber-owl.net to gain maintenance priveleges.
        h2.sub-header Statistics
        .table-responsive
          table.table.table-striped
            tbody
              tr
                td Class Count
                td #{stats.classCount}
              tr
                td Logical Axiom Count
                td #{stats.logicalAxiomCount}
              tr
                td RBox Axiom Count
                td #{stats.rBoxAxiomCount}
              tr
                td TBox Axiom Count
                td #{stats.tBoxAxiomCount}
                
