extends layout

block content
  .container-fluid
    .row
      .col-sm-3.col-md-2.sidebar
        ul.nav.nav-sidebar
          li
            a(href='/ontology/#{ontology.id}') Overview
          li
            a(href='/ontology/#{ontology.id}/query') Query
          li
            a(href='#') Browse
          li.active
            a(href='#') Download
          -if(user && (user.admin || (user.owns && user.owns.contains(ontology.id))))
            li
              a(href='/ontology/#{ontology.id}/manage') Manage
     .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
        h1.page-header #{ontology.id} - #{ontology.name}
        h4.sub-header #{ontology.description}
        h2.sub-header Downloads
        .table-responsive
          table.table.table-striped
            thead
              tr
                th Date 
                th Name
                th Download
            tbody
              - var x = 1
              for i, time in ontology.submissions
                tr
                  td #{time}
                  td Version #{x}
                  td 
                    a(href='/onts/'+i) Download...
                - x++
              
