extends layout

block content
  .container-fluid
    .row
      .col-sm-3.col-md-2.sidebar
        ul.nav.nav-sidebar
          li
            a(href='/ontology/') 
              span.glyphicon.glyphicon-menu-left(aria-hidden='true') 
              span Back to Browse
          li.divider(role='presentation', style="background-color:#aaa;display:block;height:5px;")
          li.active
            a(href='#') Overview
          li
            a(href='/ontology/#{ontology.id}/query') Query
          li
            a(href='/ontology/#{ontology.id}/browse') Browse
          li
            a(href='/ontology/#{ontology.id}/downloads') Download
          -if(user && (user.admin || (user.owns && user.owns.contains(ontology.id))))
            li
              a(href='/ontology/#{ontology.id}/manage') Manage
     .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
        h1.page-header #{ontology.id} - #{ontology.name}
        div#infovis(style='width:100%')
        div#ontology_value(style='display:none') #{ontology.id}
